<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Summarizer.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Summarizer.AppSettings>
            <setting name="StaffName" serializeAs="String">
                <value>아무개</value>
            </setting>
            <setting name="ReservationConfirmMessage" serializeAs="String">
                <value>채널로 예약문자 전송</value>
            </setting>
            <setting name="FormMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>상담받을 분의 성함 / 연락처 - </string>
                        <string>생년월일 - </string>
                        <string>상담부위 - </string>
                        <string>첫수술or 재수술 (재수술일경우 마지막 수술시기 ) - </string>
                        <string>상담 희망 날짜와 시간대 - </string>
                        <string>상담 원하는 원장님 - </string>
                        <string>저희 병원 알게되신 경로 - </string>
                        <string>소개자 있으실 경우 소개자 성함과 연락처 뒷번호 - </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SliceStaffMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>안녕하세요~</string>
                        <string>안녕하세요^^</string>
                        <string>안녕하세요~^^</string>
                        <string>^^</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Summarizer.AppSettings>
    </applicationSettings>
</configuration>